* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

 .container {
    height: 550vh;
    /* width: 98.9vw; */
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;

}

.box {
    width: 100%;
    padding: 10px 150px;
    /* border: 2px solid red; */
}

#box1 {
    height: 17%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
#box1::before {
    content: "";
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/6c884f48-f7d8-4a59-9d25-b7c138813aee/ed2b002b-c6c5-459c-9c97-753f50e8286b/IN-en-20230807-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}
/* #box1 img {
    width: 100%;
    height: 100%;
    z-index: 1;
} */
#box2 {
    height: 12.5%;
}
.feature {
    display: flex;
    flex-wrap: wrap;
}
#box3 {
    height: 12.5%;
}
#box4 {
    height: 12.5%;
}
#box5 {
    height: 12.5%;
}
#box6 {
    height: 21%;
    display: grid;
    grid-template-rows: 3fr;
    padding: 10px 150px;
}
#box7 {
    height: 12.5%;
    display: flex;
    flex-wrap: wrap;
}
.inner-box {
    height: 99%;
    width: 404px;
    /* border: 2px solid green; */
}
.pro {
    position: relative;
    /* border: 2px solid green; */
}
#pro1 {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
#pro2 {
    height: 250px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.sub {
    height: 55%;
    margin: auto 0;
    /* border: 2px solid blue; */
}
#sub1 {
    width: 15%;
}
#sub2 {
    width: 20%;
    height: 40%;
}
#lang {
    content: "";
    background-color: #000;
    opacity: 0.5;
    height: 100%;
    width: 50%;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    /* margin: 0 5px; */
    /* background: transparent; */
}
#signin {
    background-color: red;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 36px;
    /* margin: 0 5px; */
    border: none;
    width: 33%;
    height: 30px;
}
#main-heading {
    font-weight: 900;
    font-size: 45px;
}
.info {
    margin: 0 10px;
}
.sub-box {
    height: 98%;
    width: 50%;
    /* border: 2px solid green; */
}
.des {
    padding: 14% 0px;
}
.sub-box2 {
    background: url();
}
.faq {
    margin: 0 auto;
    padding: 2rem 4rem;
    /* border: 2px solid green; */
}
.accordion .accordion-item {
    border: 1px solid #e5e5e5;
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    height: 80px;
    margin: 3px 0;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    background-color: #2d2d2d;
    color: #565656;
    outline: none;
}
.accordion button:hover {
    background-color: #484848;
}
.accordion button .accordion-title {
    padding: 1em 1.5em 1em 1.15em;
  }
.accordion button .icon {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 18px;
    width: 42px;
    height: 42px;
    font-size: 40px;
}
.accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    background-color: #2d2d2d;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    /* font-size: 1.3em; */
    padding: .5em 0 .5em 1.3em;
  }
.vid {
    height: 54%;
    width: 72%;
    position: relative;
    z-index: -1;
    bottom: 80%;
    left: 12.5%;
}
#vid2 {
    width: 60%;
    height: 50%;
    position: relative;
    bottom: 92%;
    left: 18%;

}
.img {
    height: 445px;
    width: 600px;
}
.sub-img {
    height: 100%;
    width: 98%;
}

.fea {
    font-size: 23px;
}

#email {
    background-color: black;
    opacity: 0.8;
    height: 66px;
    width: 400px;
    border: 1px solid white;
    padding-left: 30px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}

#getstart {
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 65px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
}
.small-heading {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
}
.li-item {
    height: 100px;
    width: 100%;
    list-style: none;
    /* border: 2px solid yellow; */
    margin: 5px 0;
}

/* dropdown */
.dropbtn {
    background-color: grey;
    color: white;
    width: 1210px;
    height: 96px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #c5c5c5;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  hr {
    background-color: rgb(146, 146, 146);
    height: 10px;
  }