* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

 .contain {
    height: 550vh;
    display: flex;
    flex-direction: column;

}

.box {
    width: 100%;
    padding: 10px 150px;
    /* border: 2px solid red; */
}

#box1 {
    height: 18%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
#box1::before {
    content: "";
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/6c884f48-f7d8-4a59-9d25-b7c138813aee/ed2b002b-c6c5-459c-9c97-753f50e8286b/IN-en-20230807-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}
.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    text-align: center;
}
#box2 {
    height: 13%;
}
#box3 {
    height: 13%;
}
#box4 {
    height: 13%;
}
#box5 {
    height: 13%;
}
#box6 {
    height: 22%;
    display: grid;
    grid-template-rows: 3fr;
    padding: 10px auto;
}
#box7 {
    height: 8%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}

.inner-box {
    height: 99%;
    width: 404px;
    line-height: 2.5rem;
    font-size: 1rem;
    /* border: 2px solid green; */
}
.pro {
    position: relative;
    /* border: 2px solid green; */
}
#pro1 {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
#pro2 {
    height: 260px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.sub {
    height: 50%;
    margin: auto 0;
    /* border: 2px solid blue; */
}
#sub1 {
    width: 14%;
}
#sub2 {
    width: 24%;
    height: 40%;
}
#lang {
    content: "";
    background-color: #000;
    background-size: cover;
    height: 100%;
    width: 50%;
    font-size: 1rem;
    border-radius: 4px;
    color: #fff;
    opacity: 0.6;
    /* margin: 0 5px; */
    /* background: transparent; */
}

#signin {
    background-color: red;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: 12%;
    /* margin: 0 5px; */
    border: none;
    width: 33%;
    height: 30px;
}
#main-heading {
    font-weight: 900;
    font-size: 2.8rem;
}
.info {
    margin: 8px 10px;
}
.sub-box {
    height: 400px;
    width: 550px;
    /* border: 2px solid green; */
}
.des {
    padding: 14% 0px;
}
.sub-box2 {
    background: url();
}
.faq {
    text-align: center;
    margin: 0 auto;
    padding: 2rem 4rem;
    /* border: 2px solid green; */
}
.faq h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.accordion .accordion-item {
    border: 1px solid #e5e5e5;
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    height: 80px;
    margin: 3px 0;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    background-color: #2d2d2d;
    color: #565656;
    outline: none;
}
.accordion button:hover {
    background-color: #484848;
}
.accordion button .accordion-title {
    padding: 1em 1.5em 1em 1.15em;
  }
.accordion button .icon {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 18px;
    width: 42px;
    height: 42px;
    font-size: 40px;
}
.accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    /* opacity: 0; */
    max-height: 0;
    background-color: #2d2d2d;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
.accordion-title {
    color: #ffff;
}
.icon {
    color: #ffff;
}
.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    /* font-size: 1.3em; */
    padding: .5em 0 .5em 1.3em;
  }
  .accordion {
    margin-bottom: 3%;
  }
.vid {
    height: 54%;
    width: 100% !important;
    position: relative;
    z-index: -1;
    bottom: 80%;
    left: -0.5%;
}
#vid2 {
    width: 60%;
    height: 48%;
    position: relative;
    bottom: 92%;
    left: -0.5%;

}
.img {
    height: 100%;
    width: 100%;
}
.sub-img {
    height: 100%;
    width: 98%;
}

.fea {
    font-size: 1.5rem;
}
.con {
    padding: 5px 0;
}
#email {
    background-color: black;
    opacity: 0.8;
    height: 4rem;
    width: 25rem;
    border: 1px solid white;
    padding-left: 30px;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
}

#getstart {
    background-color: red;
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    height: 4rem;
    width: 13rem;
    position: relative;
    top: 4px;
    /* border: 1px solid red; */
    border: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
}
.small-heading {
    color: #fff;
    font-weight: 900;
    font-size: 2.5rem;
}
.li-item {
    height: 100px;
    width: 100%;
    list-style: none;
    /* border: 2px solid yellow; */
    margin: 5px 0;
}

/* dropdown */
.dropbtn {
    background-color: grey;
    color: white;
    width: 1210px;
    height: 96px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #c5c5c5;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  hr {
    background-color: rgb(146, 146, 146);
    height: 10px;
  }
  .inner-box a {
    text-decoration: none;
    color: #ffff;
  }

  .inner-box a:hover {
    text-decoration: underline;
    color: #ffff;
  }

  .container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
    #sub2 {
        width: 26%;
    }
    #main-heading {
        font-size: 2.3rem;
    }
    .faq h2 {
        font-size: 3rem;
    }
    #email {
        height: 3.5rem;
        width: 21rem;
        font-size: 0.9rem;
    }
    #getstart {
        height: 3.5rem;
        width: 11rem;
        font-size: 1.4em;
    }
    #signin {
        font-size: 0.9rem;
    }
    #lang {
        font-size: 0.9rem;
    }
    .small-heading {
        font-size: 2.3rem;
    }
    .fea {
        font-size: 1.3rem;
    }
    .inner-box {
        font-size: 0.9rem;
    }
    #vid2 {
        max-width: 60%;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    #sub2 {
        width: 30%;
    }
    #main-heading {
        font-size: 1.8rem;
    }
    .faq h2 {
        font-size: 2.5rem;
    }
    #email {
        height: 2.8rem;
        width: 15rem;
        font-size: 0.8rem;
    }
    #getstart {
        height: 2.8rem;
        width: 8rem;
        font-size: 1.2em;
    }
    #signin {
        font-size: 0.8rem;
    }
    #lang {
        font-size: 0.8rem;
    }
    .small-heading {
        font-size: 2.1rem;
    }
    .fea {
        font-size: 1.1rem;
    }
    .inner-box {
        font-size: 0.8rem;
    }
    #box1 {
        height: 15%;
    }
    #box2,#box3,#box4,#box5 {
        height: 15%;
    }
    .feature {
        flex-wrap: wrap;
    }
    .sub-box {
        height: 230px;
        width: 300px;
    }
    .des {
        padding: 6% 0;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    #sub2 {
        width: 32%;
    }
    #main-heading {
        font-size: 1.3rem;
    }
    .faq h2 {
        font-size: 2rem;
    }
    #email {
        height: 2.5rem;
        width: 11rem;
        font-size: 0.6rem;
    }
    #getstart {
        height: 2.5rem;
        width: 7rem;
        font-size: 1em;
    }
    #signin {
        font-size: 0.7rem;
    }
    #lang {
        font-size: 0.7rem;
    }
    .small-heading {
        font-size: 1.9rem;
    }
    .fea {
        font-size: 0.9rem;
    }
    .inner-box {
        font-size: 0.6rem;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
    #sub2 {
        width: 34%;
    }
    #main-heading {
        font-size: 0.8rem;
    }
    .faq h2 {
        font-size: 1.5rem;
    }
    #email {
        height: 2rem;
        width: 8rem;
        font-size: 0.5rem;
    }
    #getstart {
        height: 2rem;
        width: 5rem;
        font-size: 0.7em;
    }
    #signin {
        font-size: 0.6rem;
    }
    #lang {
        font-size: 0.6rem;
    }
    .small-heading {
        font-size: 1.7rem;
    }
    .fea {
        font-size: 0.7rem;
    }
    .inner-box {
        font-size: 0.5rem;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    #sub2 {
        width: 36%;
    }
    #main-heading {
        font-size: 0.3rem;
    }
    .faq h2 {
        font-size: 1rem;
    }
    #email {
        height: 1.5rem;
        width: 5rem;
        font-size: 0.3rem;
    }
    #getstart {
        height: 1.5rem;
        width: 3rem;
        font-size: 0.6em;
    }
    #signin {
        font-size: 0.5rem;
    }
    #lang {
        font-size: 0.5rem;
    }
    .small-heading {
        font-size: 1.5rem;
    }
    .fea {
        font-size: 0.5rem;
    }
    .inner-box {
        font-size: 0.3rem;
    }
  }