@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    --primary-btn-color: #e50914;
    --secondary-btn-color: #c11119;
    --padding-inline-section: 0.5rem;
}

body {
    font-family: 'Poppins',sans-serif;
    background-color: #000;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-size: 1.25rem;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style: none;
}

button {
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}
hr {
  background-color: #232323;
  border: none;
  height: 10px;
}

img {
    width: 100%;
    height: 100%;
}
/* utility classes */

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}

.primary-button {
    background-color: var(--primary-btn-color);
    border-radius: 4px;
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: 10px 22px;
    box-shadow: 0 0 2px var(--primary-text-color);
    transition: 0.2s ease-in;
}

.primary-button:hover {
    background-color: var(--secondary-btn-color);
}

.secondary-button {
    content: "";
    background-color: var(--secondary-text-color);
    border-radius: 4px;
    border: 0.2px solid var(--primary-text-color);
    padding: 10px 22px;
    color: var(--primary-text-color);
    background-size: cover;
    opacity: 0.8;
}


/* header section */
.box {
    padding: 10px 10%;
}
.header {
    padding: 15px 30px;
    position: relative;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/6c884f48-f7d8-4a59-9d25-b7c138813aee/ed2b002b-c6c5-459c-9c97-753f50e8286b/IN-en-20230807-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    /* border: 2px solid red; */
}
/* .header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
} */

.main-nav {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.company-logo img{
    width: 160px;
    /* height: 200px; */
}
.btn {
    flex-basis: 300px;
}
.header-section {
    height: 90%;
    margin-top: 10px;
    margin-bottom: 150px;
    padding: 2%;
}

.inner-header {
    text-align: center;
    padding: 40px 8px 10px;
}
.header-down {
    margin-top: 10px;
}

.get-started-btn {
    width: 18%;
    height: 4rem;
    font-size: 1.4rem;
    position: relative;
    top: 2px;
}

/* Big-feature-section */


.feature-section {
    justify-content: center;
    padding-block: 10px;
}

.feature-left {
    width: 600px;
    height: 500px;
}
.feature-right {
    width: 600px;
    height: 500px;
}

.feature-heading {
    margin-block:25%;
    padding-inline: 10%;
}

.feature-img {
    width: 100%;
    height: 100%;
}
.feature-img img {
    width: 98%;
}

.faq {
    text-align: center;
    padding-block: 2rem;
}

.faq h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.accordion .accordion-item {
    width: 100%;
    border: 1px solid #e5e5e5;
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    height: 80px;
    margin: 3px 0;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    background-color: #2d2d2d;
    color: #565656;
    outline: none;
}
.accordion button:hover {
    background-color: #484848;
}
.accordion button .accordion-title {
    padding: 1em 1.5em 1em 1.15em;
}
.accordion button .icon {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 18px;
    width: 42px;
    height: 42px;
    font-size: 40px;
}
.accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 15em;
    padding-block: 1%;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    /* opacity: 0; */
    max-height: 0;
    background-color: #2d2d2d;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
.accordion-title {
    color: #ffff;
}

.icon {
    color: #ffff;
}
.accordion .accordion-content p {
    /* font-size: 1.5rem; */
    font-weight: 300;
    font-size: 1.3em;
    text-align: left;
    padding: .5em 0 .5em 1.3em;
}
.accordion {
    margin-bottom: 3%;
}
.inner-box {
    height: 280px;
    width: 404px;
    line-height: 2.5rem;
    font-size: 1rem;
}
.vid {
    height: 56%;
    width: 100% !important;
    position: relative;
    z-index: -1;
    bottom: 80%;
    left: -0.5%;
}
#vid2 {
    width: 62% !important;
    height: 48%;
    position: relative;
    bottom: 92%;
    left: 18%;
    
}
.con {
    padding-block: 5px;
}
#email {
    background-color: black;
    opacity: 0.8;
    height: 4rem;
    width: 25rem;
    border: 1px solid white;
    padding-left: 30px;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
}
.inner-box a {
  text-decoration: none;
  color: #ffff;
}

.inner-box a:hover {
  text-decoration: underline;
  color: #ffff;
}


/* media query */


/* Desktop container utility class: */
/* .container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .company-logo img {
    width: 158px;
  }
  
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
